<h1>Choose one!</h1>

<a href="/playrps?choice=rock">
	<%= image_tag((asset_path @images["rock"]), size:"100x100") %>
</a>
<a href="/playrps?choice=paper">
	<%= image_tag((asset_path @images["paper"]), size:"100x100") %>
</a>
<a href="/playrps?choice=scissors">
	<%= image_tag((asset_path @images["scissors"]), size:"100x100") %>
</a>