<div class="row">
  <div class="container">
    <div class="span12">
      <div id='dice'>
<div class='row'>
<div class='span12 page-header'>
<h1>Dice Game</h1>
</div>
</div>
<div class='row'>
<div class='span12'>
</div>
</div>
<div class='row'>
<div class='span12'>
<h2>Welcome.</h2>
<p>Here are the rules:</p>
<ul>
<li>Roll the dice to start the game.</li>
<li>If your first roll is a 7 or 11, you win.</li>
<li>If your first roll is a 2, 3 or 12, you lose.</li>
<li>
Anything else becomes your
<em>point.</em>
Roll your point again before a 7 and you win.
</li>
</ul>
<h2><form action="/dice/roll" class="button_to" method="post"><div><input class="btn btn-success btn-large" type="submit" value="Roll to start the game!" /><input name="authenticity_token" type="hidden" value="3HcFL3V5Nsg6/GwTHRWYxuBztESkDrNUyP6jn90C8e0=" /></div></form></h2>
</div>
</div>
</div>

    </div>
  </div>
</div>